*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  box-sizing: border-box;
}

*::after,
*::before {
  /* box-sizing: inherit; */
}

body {
  color: var(--slate);
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
}

:root {
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8E8F99;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
  --orange: #e7791f;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --white: #fff;
  --blue: #0000ff;
  --green: #31D0AA;
  --diary: #FCFCFC;

  --grey: rgba(46, 47, 66, 0.70);
  --navy-blue-modal: #2E2F4266;
  --transition-duration: 250ms;

}

/* @media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
} */

button {
  font-family: inherit;
  border: unset;
  outline:none;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
 
}

.header-page {
  
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 25.5px 0px;
  width: 100%;
  border-bottom: 1px solid var(--cornflower, #E7E9FC);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);


  @media screen and (min-width: 768px) {
    
    display: flex;
    align-items: center;
    justify-items: center;
    /* justify-content: space-evenly; */
    width: 100vw;
    padding: 0;
    
    
  }
  
  @media screen and (min-width: 1158px) {
    padding: 24px 0;
    
  }
}


.header-page a {
  color: var(--navy-blue);
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}


.header-container {
  
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
  

  

  @media screen and (min-width: 768px)
  { 
    
  }

  @media screen and (min-width: 1158px)
  { margin: 0px 156px;
  } 
}

.header-page-menu {
 display: flex;
 align-items: flex-start;

 @media screen and (min-width: 768px)
 { 
  gap: 120px;
  
   
}
 @media screen and (min-width: 1158px)
 {
  display: inline-flex;
  gap: 76px;
  
 }

}
.header-page-menu-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  @media screen and (min-width: 1158px) {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

  
}

.header-page-menu-list-item {
  color: var(--navy-blue);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  position: relative;
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  
}

 
.header-page-menu-list-item:hover .header-page-item-link,
.header-page-menu-list-item:active .header-page-item-link {
  color: var(--ocean);
 
  
}

.header-page-item-link::after {
  content: '';
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  position: absolute;
  left: 0;
  bottom: -25px;
  transition: width var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  
}

.header-page-item-link.active {
  color: var(--ocean);
}

.header-page-item-link.active::after {
  width: 100%;
  background-color: var(--ocean);
  
}

.header-page-menu-list-item:hover .header-page-item-link::after,
.header-page-menu-list-item:active .header-page-item-link::after {

  width: 100%;
  
}


.header-page-address-list {
  display: none;
 
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
    
    
  }
  
  @media screen and (min-width: 1158px) {

    flex-direction: row;
    padding: 0;
    gap: 40px;
  }

}

.header-page-address-item {

  @media screen and (min-width: 768px) {
    
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; 
    letter-spacing: 0.48px;
    
  }
  
  @media screen and (min-width: 1158px) {
   
    color: var(--slate);
    font-size: 16px;
    line-height: 24px; 
    letter-spacing: 0.32px;
    transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  }

}

.header-page-address-link 

{
  transform: translateX(100%);
}

.header-page-address-link:hover {
 color: var(--ocean);

}


.menubar-svg {
  
  fill: currentColor;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 8px;
  height: 22px;
  width: 32px;

}
.hburger-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 50px;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1), 
  border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
  color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}


.menubar-hburger{
  
    
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: inline-flex;
    /* align-items: center; */
    justify-content: flex-end;
    margin-left: auto;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    color: var(--navyblue);
    
  
    @media screen and (min-width: 768px) {
      display: none;
    }

  
} 


.hburger-menu {
    
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding: 80px 0 40px;
    z-index: 10;
    background-color: var(--white);
    transition: right var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
    

    @media screen and (min-width: 768px) {
      display: none;
    
      
    }
}

.hburger-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 40px;
  height: 100vh;
}

.hburger-menu.is-open{
  right: 0;
}

.hburger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hburger-menu-list-item {

  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  
  
}

.hburger-item-link:hover {
  color: var(--ocean);
}

.hburger-item-link.active {
  color: var(--ocean);
}

.hburger-address-container {
  /* padding-top: 280px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.hburger-address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--slate);
  gap: 40px;

}

.hburger-address-link:hover {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  color: var(--iris);
  
}

.hburger-address-link.active {
  color: var(--iris);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;

}

.hburger-social-links {
  display: flex;
  flex-direction: row;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  justify-content: space-between;
  /* width: 100%; */
  
}


.services-heading {
  white-space: nowrap;
 
}


ul {
  list-style-type: none;
  padding-inline-start: 0%;
}

a {
  text-decoration: none;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    
    gap: 36px;
  }

  @media screen and (min-width: 1158px) {
    gap: 48px;
  }
  
  
}
.main-page-hero-heading {
  color: var(--white);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: .72px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;

  }

  }

.main-page-hero {
  background: var(--navy-blue);
  padding: 112px 0px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/hero-mobile1.jpg);
  background-repeat: no-repeat;
  /* background-size: 428px 432px; */

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/hero-mobile2.jpg);
      }
  

  @media screen and (min-width: 768px) {
    padding: 112px 0px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/hero-tablet1.jpg);
    background-repeat: no-repeat;
    /* background-size: 768px 436px; */

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/hero-tablet2.jpg);
      }
  }
  
  @media screen and (min-width: 1158px) {
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/hero-desktop1.jpg);
  background-repeat: no-repeat;
  /* background-size: 1440px 600px; */

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/hero/hero-desktop2.jpg);
      }

  }

}

.main-page {
  display: block;
  text-align: center;
}

.main-page-hero-button {
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: inline-flex;
  border-radius: 4px;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-hero-button:hover {
  color: var(--white);
  background: var(--ocean);
}


h2 {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
h3 {
  display: block;
  /* width: 264px; */
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--navy-blue);
}
p {
  /* width: 264px; */
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--slate);
}
.feature {

  padding: 96px 0;
  width: 100%;

  @media screen and (min-width: 768px) 
{
  
}
  @media screen and (min-width: 1158px) 
  {
    padding: 120px 0;
  }
}

.feature-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 16px;

  @media screen and (min-width: 768px) 
  {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1158px) 
  {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
  }
}

.feature-list {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-self: stretch;
  width: 100%;
  gap: 72px;

  @media screen and (min-width: 768px) 
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 24px;
    row-gap: 72px;
  }

  @media screen and (min-width: 1158px) 
  {
    
    text-align: justify;
    flex-wrap: nowrap;
    
  }
}

.feature-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  

  @media screen and (min-width: 768px) 
  {
    width: 356px;
    
  }

  @media screen and (min-width: 1158px) 
  {
    width: 264px;
  }

}
.feature-list-item p {
  
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: stretch;

  @media screen and (min-width: 768px) 
  {
  text-align: justify;
  }

  @media screen and (min-width: 1158px) 
  {
   
    font-weight: 400;
    text-align: left;
  
  }
}

.feature-list-item-head {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72;
  text-align: center;

  @media screen and (min-width: 768px) 
  {
   text-align: justify;
  }

  @media screen and (min-width: 1158px) 
  {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
   
  }
}

.feature-icon-svg {
 
 height: 64px;
 width: 64px;
}

.feature-icon {

 display: none;


  @media screen and (min-width: 1158px) 
  {
    padding: 24px 100px;
    background-color: var(--cloud);
    border-radius: 4px;
    display: flex;
  }

}

.services-container {
  
  display: none;


  @media screen and (min-width: 1158px)
  { 
    display: flex;
    flex-direction: column;
    gap: 72px;
  } 

}

 .services {
  
  @media screen and (min-width: 1158px)
  { 
    padding-bottom: 120px;
  } 
 }


.services-heading-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.team-container {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  gap: 72px;
 
}

.team { 
  background-color: var(--cloud);
  padding: 96px 0px;
  

  @media screen and (min-width: 768px) 
  {
    padding: 96px 0px;
  }

  @media screen and (min-width: 1158px) 
  {
  padding: 120px 0;
  }
  
}

.team-heading-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  

  @media screen and (min-width: 768px) 
  {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    
  }
  
}

.team-name-container {
  background-color: var(--white);
  padding: 32px 0;
}

.team-heading-list-item {

 display: flex;
 flex-direction: column;
 width: 264px;
 box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);


  @media screen and (min-width: 1158px) 
  {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
  }
}

.team-heading-list-item-name {
  margin-bottom: 8px;
}



footer p {
  color: var(--cloud);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
  margin-right: 0;

  @media screen and (min-width: 768px) 
  { 
    text-align: left;
  }
}

.footer-logo {

  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  @media screen and (min-width: 768px) 
  { 
    justify-content: normal;
  }

}

.header-web,
.footer-web {
  color: var(--iris);
}
.header-studio {
  color: var(--navy-blue);
}

.footer-studio {
  color: var(--cloud);
}


.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1158px) {
    max-width: 1158px;
  }

}

.portfolio {
  padding: 48px 0px;
  display:flex;

  @media screen and (min-width: 768px) {
    padding: 64px 0px;
    justify-content: center;
  }
  @media screen and (min-width: 1158px) {
  padding: 96px 0 72px;
}
}

.portfolio-container {

  display: flex;
  gap: 24px;
  
  @media screen and (min-width: 768px)
  { flex-wrap: nowrap;
    gap: 24px; }

  @media screen and (min-width: 1158px) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 24px;

}
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: justify;
  row-gap: 16px;
  column-gap: 24px;

  @media screen and (min-width: 768px)
  {
  
    column-gap: 20px;
    justify-content: center;
  }
  
  @media screen and (min-width: 1158px) {
    align-items: center;
    align-content: center;
  
    gap: 24px;
  }

}

.portfolio-list-button {
  text-align: center;
  color: var(--iris);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
  list-style-type: none;
  padding: 8px 16px;
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  
  
  @media screen and (min-width: 768px)
  {
    padding: 12px 24px;
  }
}

.portfolio-list-button:hover {
  color: var(--cloud);
  background: var(--ocean);
  cursor: pointer;
  border-color: var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  
  
}

.projects-container {

  padding: 0 16px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  @media screen and (min-width: 768px)
  { 
    padding: 0 16px 96px; 
  }

  @media screen and (min-width: 1158px)
  {
    padding: 0 0 120px;
  }
    
 
}

.projects-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
 
  
  

  @media screen and (min-width: 768px)

  { 
    flex-direction: row;
    row-gap: 72px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1158px)
  {
    row-gap: 48px;
    column-gap: 10px;
    justify-content: flex-start;
    
  }
}

.projects-list-item {
  
  display: flex;
  flex-direction: column;
  background: var(--white);
  align-items: flex-start;
  width: 100%;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px)
  {
    width: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px)
  {
    width: calc((100% - 24px) / 3);
  }
}



.projects-list-figure {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  
}

.projects-list-img {
  
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.projects-list-figcaption {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--iris);
  padding: 40px 32px;
  color: var(--cloud);
  text-align: left;
  text-indent: 0;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  display: flex;
  transition: transform var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  
}
.project-list-link {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.projects-list-item:hover .projects-list-figcaption {
  transform: translateY(0);
}

.projects-list-item-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  

  @media screen and(min-width:768px)
  {
   
  }
    
  
}

.projects-title-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: 0;
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  


  @media screen and(min-width:768px)
  {
  /* white-space: nowrap; */
 
  }

}


/* social links */

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  margin-top: 8px;
  column-gap: 24px;

}

.social-link {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  fill: var(--cloud);
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  
}

.social-link:hover {
  background-color: var(--ocean);
  
}

.social-link-svg {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-content: center;
  
}

.social-links-item {
  display: flexbox;
  align-items: start;
  align-content: center;
 
  
}

/* .social-link svg {
  height: 16px;
  width: 16px;
  align-items: center;
  justify-content: center;


} */

.customer-container {
  display: flex;
  flex-direction: column;
  gap: 88px;

  @media screen and (min-width: 768px) 
  {
    
    gap: 72px;
  }
  
}


.customer { 
  
  padding: 96px 0px;

  @media screen and (min-width: 768px) 
  {
  padding: 96px 0px;
  }
  @media screen and (min-width: 1156px) 
  {
    padding: 120px 0;
  }
}

.customer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
  

  @media screen and (min-width: 768px) 
  {
    
    column-gap: 24px;
  }
  @media screen and (min-width: 1156px) 
  {
    gap: 24px;}
  
}

.customer-list-item {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  width: 168px;
  @media screen and (min-width: 768px) 
  {
   
  }
}
  

 .customer-link-svg{
  width: 104px;
  height: 56px;
  fill: currentColor;
  
  
 }
 .customer-link {
  color: var(--light-slate);
  transition: color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
 }


 .customer-list-item:hover {
  border-color: var(--ocean);
  
  
 }

 .customer-list-item:hover .customer-link{
  color: var(--ocean);
  
 }

.footer {
  
    background-color: var(--navy-blue);
    display: flex;
    padding: 96px 0;
    justify-content: center;
  
    
 

@media  screen and (min-width: 768px)

 {  padding: 96px 0px;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    flex-wrap: nowrap;
    column-gap: 24px; }
      

@media  screen and (min-width: 1158px)

  { padding: 101px 0;
    flex-direction: column;
    flex-wrap: wrap;
    
  }

  }

  .footer-container {

    display: flex;
    flex-direction: column;
    gap: 72px;

    @media  screen and (min-width: 768px)
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 24px;
      padding: 0 108px;
      
    }

    @media  screen and (min-width: 1158px)
    {
      column-gap: 0px;
      padding: 0px;
  } }


.footer-social-media, .footer-form p {
  font-weight: 500;
  line-height: 24px; 
  color: var(--white);
  margin-top: auto;
  margin-bottom: 16px;
  
}

footer .social-link {
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  
}

footer .social-link:hover {
  background-color: var(--green);
  
}




.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  @media  screen and (min-width: 768px)
  {
    
  }

  @media  screen and (min-width: 1158px)
  {
    display: flex;
    justify-content: flex-start;
  }
}

.footer-list-social-media {
  display: block;
  
  @media  screen and (min-width: 768px)
  { margin-top: 0px;}
  
  @media  screen and (min-width: 1158px)
  {
    padding-left: 120px;
    padding-right: 80px;

  
  }

}

footer .social-links-item{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;

   
  @media  screen and (min-width: 1158px)
  {
    display: inline-flex;
    align-content: center;
  }
  
}
.social-media-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;

  
}

footer .social-links-item:not(:last-child) {
  margin-right: 16px;
}

.footer-description {
  margin-top: 16px;
}

.footer-form {

  justify-content: center;

  
  @media  screen and (min-width: 1158px)
  {
    justify-content: flex-start;
} }

.footer-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 24px;

  @media  screen and (min-width: 768px)
  {
    flex-direction: row;
    gap: 8px;
    margin-right: 0;
  }

  @media  screen and (min-width: 1158px)
  {
    display: flex;
    flex-direction: row;
  }
}

.footer-form-input {
  width: 90vw;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  background-color: var(--navy-blue);
  text-indent: 15px;
  font-size: 12px;
  font-weight: 400;
  opacity: 0.3;
  font-family: inherit;
  
  

  @media  screen and (min-width: 768px)
  {
    margin-right: 24px;
    width: 264px;
    opacity: 0.3;}

    
    @media  screen and (min-width: 1158px)
    {
    opacity: 1;
  }

}

.footer-form-input::placeholder {
  color: white;
}

.footer-form-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--iris);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.64px;
  line-height: 24px;
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover {
  background-color: var(--ocean);
}
.btn-svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}


.close-icon-svg {
  height: 8px;
  width: 8px;
  position: absolute;
  fill: currentColor;
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal {
  background-color: var(--navy-blue-modal);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  transition-property: visibility, opacity;
  transition-duration: var(--transition-duration);

  

}

.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  
}

.modal.is-hidden .modal-content {
  transform: scaleY(0.4);
  
}

.modal-content{
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--diary);
  border-radius: 4px;
  width: 100vw;
  top: 50%;
  margin: auto;
  padding: 72px 24px 24px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translateY(-50%);
  transition: transform var(--transition-duration);

  @media screen and (min-width: 428px) {
    width: 408px;
    height: auto;
  
}
}

.form-field{
  display: flex;
  flex-direction: column;
} 

.form-field-title {
  margin-bottom: 16px;
  text-align: center;
  color: var(--navy-blue);
  font-weight: 500;
}

.form-input {
  font-family: inherit;
  font-size: 12px;
  color: var(--navy-blue);
  flex-direction: column;
  padding-left: 36px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  
 
}

input, textarea {
  outline: none;
  
}

.form-input-cb {
  accent-color: var(--ocean);
}

.form-svg {
  display: flex;
  position: absolute;
  left: 16px;
  top: 26px;
  width: 18px;
  height: 24px;
  fill: var(--navy-blue);

}

.form-label:focus-within .form-input,.form-label:focus-within .form-tarea {
  border: 1px solid var(--iris);
}

.form-label:focus-within svg{
  fill: var(--iris);
}

.form-tarea {
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-left: 16px;
  font-family: inherit;
  font-size: 12px;
  color: var(--navy-blue);
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
  resize: none;
  

}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; 
  letter-spacing: 0.48px;
  color: var(--light-slate);
  position: relative;
  transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
  fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label.check {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; 
  margin-top: 8px;
  margin-bottom: 24px;
  letter-spacing: 0.48px;
  color: var(--light-slate);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.form-label.check input {
  width: 16px;
  height: 16px;
  border: var(--navy-blue-modal);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; 
  letter-spacing: 0.48px;
  margin-right: 4px;
  display: flex;
  align-items: flex-start;
  
}


.form-label.check span {
  color: var(--iris);
  text-decoration-line: underline;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;


}

.form-button {

  display: inline-flex;
  justify-content: center;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-weight: 500;
  line-height: 24px; 
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.64px;
  margin: 0 auto;
  cursor: pointer;
  width: 169px;
  height: 56px;
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);

}

.form-button:hover {
  background-color: var(--ocean);
}


.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 50px;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1), 
  border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1),
  color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close:hover,
.modal-close:active {
  background-color: var(--ocean);
  border-color: var(--ocean);
  color: var(--white);

}


